/* colors{
    color: #ffafcc; Primero 
    color: #ffc8dd; Primero comple
    color: #a2d2ff; Secundario
    color: #bde0fe; Secundario comle
    color: #fff6f9; claro

	background-image: linear-gradient( 0deg, rgba(189, 224, 254, 1), rgba(189, 224, 254, 1))

} */

* {
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23bde0fe' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.nosotros {
    display: flex;
    justify-content: first baseline;
    height: 500px;
    background-color: #a2d2ff;
    border-radius: 15px;
}

#Nosotros .container {
    padding: 200px 12px;
    width: max-content;
}

#form {
    margin: 10px;
    background-color: #a2d2ff;
    width: max-content;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
}

form .container {
    display: flex;
    justify-content: center;
    background-color: #a2d2ff;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: #ffc8dd;
    align-items: center;
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ffafcc;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 25px;
    color: #ffafcc;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 25px;
    color: #a2d2ff;
    font-weight: bold;
}

#pasteles {
    background-color: #ffc8dd;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

#pasteles .container {
    display: flex;
    background-color: #ffc8dd;
    justify-content: center;
}

#pasteles .carta {
    background-position: center center;
    background-size: cover;
    background-color: #bde0fe;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    text-align: center;
}

#pasteles h3 {
    color: navy;
}

#decoracion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bde0fe;
    margin: 20px;
    border-radius: 20px;
}

#decoracion .container {
    display: table-cell;
    text-align: center;
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
}

#sabores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bde0fe;
    border-radius: 20px;
    margin: 20px;
}

#sabores .container {
    text-align: center;
    width: max-content;
    padding: 0px 50px;
}

p {
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

span {
    color: navy;
    font-weight: bold;
}

#form input {
    width: 300px;
    height: 20px;
    font-size: 14px;
}

#form label {
    font-size: 16px;
    font-weight: bold;
}

.boton {
    background-color: #ffafcc;
    border-radius: 20px;
    width: 100;
    padding: 20px;
    text-align: center;
    align-items: center;
}


/* Barra menu */

nav {
    margin: 27px auto 0;
    position: relative;
    width: 310px;
    height: 50px;
    background-color: #a2d2ff;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff6f9;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #ffafcc;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #ffafcc;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #ffafcc;
}


/* TABLE */

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: center;
    width: 800px;
}

th {
    background-color: #ffafcc;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}