* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* HEAD NAVBAR */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
}

.logo {
    margin-right: auto;
    color: #3050ce;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.a__links {
    color: #6f7d94;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #3050ce;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #2c4cca;
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta__2 {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #2c4cca;
    color: #fafafa;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 50px;
    width: 150px;
}

.cta:hover {
    background-color: #6f7d94;
}


/* Body */

.feature {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-column-gap: 40px;
    align-items: center;
    padding: 50px;
}

.feature__left {
    grid-column-start: 3;
    grid-column-end: span 5;
}

.feature__right {
    grid-column-start: 8;
    grid-column-end: span 5;
    display: flex;
    justify-content: center;
}

.feature__right__1 {
    grid-column-start: 8;
    grid-column-end: span 5;
    display: flex;
    justify-content: center;
    background: linear-gradient(70deg, #089ae6, #2970dd);
}

.feature__right__2 {
    grid-column-start: 8;
    grid-column-end: span 5;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #3d63db);
}

.feature__left2 {
    grid-column-start: 3;
    grid-column-end: span 5;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #3d63db);
}

.feature__right2 {
    grid-column-start: 8;
    grid-column-end: span 5;
}

.feature__header {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #1f3e72;
}

.feature__text {
    font-family: "Lora", serif;
    color: #6f7d94;
    font-weight: 400;
    font-size: 18px;
}

.feature__text__1 {
    font-family: "Lora", serif;
    color: #274577;
    font-weight: 400;
    font-size: 18px;
}

.feature__text__2 {
    font-family: "Lora", serif;
    color: #1f3e72;
    font-weight: 400;
    font-size: 18px;
}

.feature__table {
    position: absolute;
    width: 800px;
    border: 1px solid snow;
    padding: 10px;
    background-color: #ffffff;
}

.feature__table label {
    color: #6f7d94;
    font-size: 18px;
}

.feature__table input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
}

.table__input {
    color: #1f3e72;
}

.feature__img {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-left: 80px;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid;
}

.img__sepia {
    filter: grayscale(100%);
    padding: auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: left;
    transition: all 0.25s;
    padding: 20px;
}

.section__3div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.feature__3div {
    max-width: 500px;
}

details {
    background-color: #f6f8fa;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #d8e0e9;
    color: #364f6b;
    position: relative;
}

details summary {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    list-style: none;
}

details p {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
    border-left: 2px solid #364f6b;
}

details:hover,
details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;
}

details[open] {}

details[open] summary {
    font-weight: 600;
}

details summary::before {
    position: absolute;
    content: "";
    font-size: 1.75rem;
    top: 10px;
    right: 16px;
}

details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
    animation: rotate-emoji 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-emoji {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.info__s {
    display: flex;
    flex-wrap: wrap;
}

.card__s {
    width: 180px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}


/* HERO */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/covid-still-life-with-vaccine.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #C7C7C7;
    -webkit-text-stroke: 2px black;
}

.hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #2c4cca;
}

.buster__hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/Vaccine-red.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buster__hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #2c4cca;
    -webkit-text-stroke: 2px black;
}

.buster__hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #2c4cca;
}

.main__edu {
    padding: 10px;
    margin: 10px;
}

.main__edu h2 {
    color: #2c4cca;
    padding: 10px;
    margin: 10px;
}


/* REGULATION */

.main__regulation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.shape__container {
    position: relative;
    height: 550px;
    width: 400px;
}

.shape {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #2c4cca;
    width: 400px;
    height: 550px;
    border-radius: 30px;
    transform: skewX(-5deg) skewY(-5deg);
    /*Shorthand: skew(-5deg, -5deg);*/
    box-shadow: 0px 5px 14px rgba(9, 33, 58, 0.1);
}

.customer__picture {
    height: 50%;
}

.customer__picture img {
    height: 100%;
    transform: skewX(5deg) skewY(5deg) scale(1.15);
    /*Shorthand: skew(5deg, 5deg) scale(1.15);*/
}

.text {
    font-family: "Hind", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #f4f4f4;
    padding: 40px 30px;
    transform: skewX(5deg) skewY(5deg);
    /*Shorthand: skew(5deg, 5deg);*/
}

.shape__shadow {
    position: absolute;
    top: 0;
    left: 0;
    background: #f0f7ff;
    width: 400px;
    height: 550px;
    border-radius: 30px;
    transform: skewX(-5deg) skewY(-5deg) rotate(-20deg);
    /*Shorthand: skew(-5deg, -5deg) rotate(-20deg);*/
    z-index: -10;
}


/* NEWS */

.body__new {
    box-sizing: border-box;
    padding: 40px;
    margin: 40px;
}

main__new {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
}

.cards__new {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card__new {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #2c4cca;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card__new:hover {
    transform: translateY(-7px);
}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding: 20px;
}

.card__title {
    margin-bottom: 20px;
}

.card__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.card__price {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #303032;
    border-radius: 20px;
}


/* FOOTER */

footer {
    width: 100%;
    background: #eef3ff;
    color: #b4bbc7;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.f-body {
    display: flex;
    justify-content: space-between;
}

.f-body p {
    font-size: 18px;
}

.colum1 {
    max-width: 600px;
}

.colum2,
.colum3,
.colum4 {
    max-width: 200px;
}

.colum1 h1 {
    font-size: 28px;
    color: #3050ce;
}

.colum2 h1,
.colum3 h1,
.colum4 h1 {
    font-size: 26px;
    color: #1f3e72;
}

.colum1 p,
.colum2 p,
.colum3 p,
.colum4 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.f-footer {
    width: 100%;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #C7C7C7;
}

.copyright {}

.information {}